@media print {
    /* Your styles here */
}
@page {
  size: 210mm 297mm;
  outline: 1pt dotted;
  margin: 0;
  padding-top: 0;

}

@media screen {
  .a4355page {
    width: 210mm;
    height: 297mm;
    padding-top: 7mm;
    padding-left: 6.4mm;
    margin: 0;
    outline: 1px dotted;
  }
  .print_label {
    height: 31.5mm; /* should be 31.0 */
    width: 63.5mm; /* should be 63.5 */
  }
}

.a4355page {
  width: 210mm;
  height: 296mm;
  padding-top: 9mm;
  padding-left: 6.4mm;
}

.print_label {
  height: 31mm; /* should be 31.0 */
  width: 63.5mm; /* should be 63.5 */
}

.print_label {

  padding-top: 2mm;
  padding-left: 3mm;
  margin-left: 2.6mm;
  outline: 1pt dotted;
  border-radius: 10mm;
  float: left;
  font-size: 3mm;
}